{% extends 'base.html.twig' %}

{% block title %}Nouvelle expérience{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('admin') }}
{% endblock %}
{% block body %}

	<main class="container my-5">
		<h1 class="text-center my-2">Ajouter une expérience
		</h1>
		<div class="col-md-6 et offset-md-3 fs-4 my-4 text-info edit_form">
			{{ include('admin_experience/_form.html.twig') }}
		</div>
	</main>

{% endblock %}
