@import "variables.scss";
@import "navbar.scss";
@import "footer.scss";
@import "header.scss";
@import "~bootstrap/scss/bootstrap";


body {
    margin          : 0;
    background-color: $primary;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $title-family;
    color      : $light;
}

p,
a,
li,
label {
    font-family: $text-family;
    font-size  : $text-size;
    color      : $light;
}

.link {
    box-shadow: 3px 3px 3px rgb(19, 19, 19), -3px -3px 3px rgb(48, 48, 48);
}

.link:hover {
    box-shadow: inset 3px 3px 3px rgb(19, 19, 19), inset -3px -3px 3px rgb(48, 48, 48);
}

.contact-btn {
    font-family: $text-family;
    color      : $light;
}

.contact-btn:hover {
    color: $highlight-color;
}