@import "variables.scss";

.banner {
    min-height: 400px;
    height: auto;
    box-shadow: 5px 5px 10px black, -5px -5px 2px rgb(41, 41, 41),;
}

.skill {
    height: 250px;
}

.large-bocal {
    width: 250px;
}

.bloc-center {
    height: 311px;
}