@import "variables.scss";

.title, .subtitle {
    font-family: $text-family;
}

.title {
    color: $highlight-color;
}

.description {
    line-height: 35px;
}

p.project-header {
    line-height: 40px;
}
section.experience {
    margin-top: 130px;
}