.contact {
    font-family: $highlighted-text;
}

.bi {
    font-size: 35px;
}

img.cup {
    height: 200px;
    position: absolute;
    bottom:-95px;
    right: 145px;
    z-index:2;
}

footer{
    position: relative;
}