.contact {
    font-family: $highlighted-text;
}

.bi {
    font-size: 35px;
}

img.cup {
    height: 200px;
    position: absolute;
    top:-160px;
    right: 200px;
}

footer{
    position: relative;
}