@import "variables.scss";

.top-nav {

     .nav-link {
        font-family: $highlighted-text;
        color      : $light;
    }

     .nav-link:hover {
        color:$highlight-color;
    }

}

.navbar-toggler-icon{
    color:$light;
}

.navbar-toggler {
    color:$light;
}