@import "variables.scss";

.link {
    box-shadow: 3px 3px 3px rgb(19, 19, 19), -3px -3px 3px rgb(48, 48, 48);
}

.link:hover {
    box-shadow: inset 3px 3px 3px rgb(19, 19, 19), inset -3px -3px 3px rgb(48, 48, 48);
}

h4 {
    font-family: $text-family;
}

.project {
    height: 200px;
}

.photo {
    height: 200px;
    object-fit: cover;
}