@import "variables.scss";

h4 {
    font-family: $text-family;
}

.project {
    height: 250px;
}

.photo {
    height    : 100%;
    object-fit: cover;
}

.project-header {
    line-height: 40px;
}

.date {
    color: $highlight-color;
}

.description {
    line-height: 30px;
}
