@import "variables.scss";

h4 {
    font-family: $text-family;
}

.photo {
    height    : 300px;
    object-fit: cover;
}

p.project-header {
    line-height: 40px;
}

.date {
    color: $highlight-color;
}

.description {
    line-height: 30px;
}

span.btn {
    font-size: 12px;
}
h4.ancrage {
    scroll-margin-top: 5em;
}

section.projet {
    margin-top: 130px;
}
