@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Calligraffitti&family=Dosis:wght@300;400;500;600;700&display=swap');

$light: #fafafa;
$primary: #1D1D1B;
$secondary: #E9AFAF;
$highlight-color: #75DAC0;
$dark-ssecondary: #4e4747;
$text-size: 1.05rem;
$title-family: "Calligraffitti", sans-serif;
$text-family: "Dosis", sans-serif;
$highlighted-text:"Annie Use Your Telescope", sans-serif;

