<header class="container my-5 pb-5">
	<div class="col-sm-8 offset-sm-2 d-flex flex-column align-items-start">
        <h2 class="my-4 mx-3 mx-sm-0">Une idée, un projet ?</h2>
        <h3 class="text-secondary my-4 mx-3 mx-sm-0">Assseyons-nous autour d'un café pour en discuter!</h3>
		<p class="px-3 px-sm-0 project-header fs-5">Vous avez une idée de projet et vous ne savez pas par où commencer ? Vous n'avez aucune expérience dans la création d'un site web et vous avez besoin d'un accompagnement pour votre projet ? N ' hésitez pas à me contacter, nous en discuterons autour d'un bon café ! </p>
	</div>
</header>