<header class="container my-5">
	<div class="col-6 offset-3 d-flex flex-column align-items-start">
        <h2>Une idée, un projet?</h2>
        <h3 class="text-secondary">Assseyons-nous autour d'un café pour en discuter!</h3>
		<p class="px-3 px-sm-0 project-header fs-5">Lorem ipsum dolor sit amet. Ab odio voluptas qui quidem nostrum et nulla eveniet qui iusto soluta et minus distinctio. Et recusandae minus sit galisum impedit non itaque natus est quas rerum At dolores voluptas vel impedit soluta rem obcaecati sapiente.</p>
	</div>
</header>