<header class="container">
	<div class="col-6 offset-6 d-flex flex-column align-items-start">
		<img src="{{ asset('build/images/lampe2.svg') }}" alt="lamp" class="lampe">
		<h1 class="ms-4 my-5">À propos</h1>
		<p class="px-3 px-sm-0 project-header fs-5">Lorem ipsum dolor sit amet. Ab odio voluptas qui quidem nostrum et nulla eveniet qui iusto soluta et minus distinctio. Et recusandae minus sit galisum impedit non itaque natus est quas rerum At dolores voluptas vel impedit soluta rem obcaecati sapiente.</p>
	</div>
</header>
