<header class="container pb-5">
	<div class="col-6 offset-6 d-flex flex-column align-items-start">
		<img src="{{ asset('build/images/lampe2.svg') }}" alt="lamp" class="lampe">
		<h1 class="ms-4 my-5">À propos</h1>
		<p class="px-3 px-sm-0 project-header fs-5">Ancienne étudiante en arts et en design d’objet et d’espace, je me suis toujours intéressée à l'art sous toutes ses formes . Maquettes, conceptions 2D/3D, signalétiques, mise en pages et 
			modélisations, j’ai toujours éprouvé une véritable aisance à concevoir des projets via des logiciels comme la suite Adobe, Autocad, 3dsMax et Inkscape. Actuellement en reconversion professionnelle à la Wild Code School en développement web Symfony, je poursuis mon ascension dans le monde du numérique et de la création! </p>
	</div>
</header>
