<header class="container">
	<div class="d-flex justify-content-around">
		<img src="{{ asset('build/images/lampe.svg') }}" alt="lamp" class="lampe ms-lg-5 d-none d-sm-block">
		<img src="{{ asset('build/images/logo.png') }}" alt="logo" class="logo align-self-end">
		<img src="{{ asset('build/images/lampe.svg') }}" alt="lamp" class="lampe me-lg-5 d-none d-sm-block">
	</div>
	<div class="d-flex flex-column flex-sm-row justify-content-around gap-5 summaries">
		<div class="dev">
			<h2 class="text-center me-lg-5 my-4">Développeur web</h2>
			<p class="px-3 px-sm-0">Lorem ipsum dolor sit amet. 33 veniam voluptatum qui incidunt eligendi vel ipsam ipsum ut velit maxime. Et officia praesentium error vel consequatur praesentium et aspernatur quod qui quibusdam sapiente hic voluptas sunt.</p>
		</div>
        <img src="{{ asset('build/images/separator.svg') }}" class="separator d-none d-sm-block mx-md-5">
        <div class="designer">
			<h2 class="text-center ms-lg-4 my-4">Designer</h2>
			<p class="px-3 px-sm-0">Lorem ipsum dolor sit amet. 33 veniam voluptatum qui incidunt eligendi vel ipsam ipsum ut velit maxime. Et officia praesentium error vel consequatur praesentium et aspernatur quod qui quibusdam sapiente hic voluptas sunt.</p>
		</div>
	</div>
</header>
