<header class="container">
	<img src="{{ asset('build/images/lampe.svg') }}" alt="lamp" class="lampe">
	<h1 class="ms-4 my-5">Projets</h1>
	<p class="col-md-6 px-3 px-sm-0 project-header fs-5">Que ce soit en développement web, en design ou même au cours de mes années de management, je n'ai pas manqué à réaliser des projets. Je vous invite à les dévouvrir plus en détails ci-dessous...</p>
</header>
