<nav class="top-nav navbar navbar-expand-lg bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand text-light ms-5" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
			<div class="navbar-nav gap-3 me-5">
				<a class="nav-link fs-4 text-light hello" href="#">Accueil</a>
				<a class="nav-link fs-4 text-light" href="#">A propos</a>
				<a class="nav-link fs-4 text-light" href="#">Projets</a>
				<a class="nav-link fs-4 text-light" href="#">Contact</a>
			</div>
		</div>
	</div>
</nav>
